#wrapper{
    font-size: 30px;
    width: 50%;
    margin: auto;
    text-align: center;
}
#input{
    font-size: inherit;
    width: 100%;
    height: 200px;
}
#output{
    text-align: left;
    word-wrap: break-word;
    width: 100%;
    overflow: scroll;
    height: 200px;
    border: 1px solid lightgray;
}
